@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.header {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
}

.header__logo {
  cursor: pointer;
  width: 140px;
}

.nav__links .nav__link {
  display: inline;
  list-style: none;
  margin: 10px 30px;
  /* justify-content: flex-start */
}

.nav__links li a {
  text-decoration: none;
  color: white;
}

.register-btn {
  text-decoration: none;
  font-size: 14;
  color: black;
  border-radius: 20px;
  padding: 10px 25px;
  background-color: white;
}

.header__container {
  padding: 0 7%;
}

.header__container h1 {
  color: white;
  text-align: center;
  font-size: 4vw;
  font-weight: 500;
  margin-top: 22%;
}

.header__search-bar {
  width: 70%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  background-color: white;
  border-radius: 20px;
}

.header__search-bar form {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}

.header__search-bar form div {
  margin: 0 10px;
}

.header__search-bar form div:first-child{
  flex: 1;
  margin: 0;
  padding: 0;
}

.header__search-bar form button{
  border-radius: 30px;
  background-color: #ff5361;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  outline: none;
}

.header__search-bar form button image{
  width: 15px;
  margin-top: 7px;

}

.header__search-bar form input {
  display: block;
  border: 0;
  outline: none;
  background: transparent;
}

.header__search-bar form label {
  font-weight: 600;
}


