@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.header {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
}

.header__logo {
  cursor: pointer;
  width: 140px;
}

.nav__links .nav__link {
  display: inline;
  list-style: none;
  margin: 10px 30px;
  /* justify-content: flex-start */
}

.nav__links li a {
  text-decoration: none;
  color: white;
}

.register-btn {
  text-decoration: none;
  font-size: 14;
  color: black;
  border-radius: 20px;
  padding: 10px 25px;
  background-color: white;
}

.header__container {
  padding: 0 7%;
}

.header__container h1 {
  color: white;
  text-align: center;
  font-size: 4vw;
  font-weight: 500;
  margin-top: 22%;
}

.header__search-bar {
  width: 70%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  background-color: white;
  border-radius: 20px;
}

.header__search-bar form {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}

.header__search-bar form div {
  margin: 0 10px;
}

.header__search-bar form div:first-child{
  flex: 1;
  margin: 0;
  padding: 0;
}

.header__search-bar form button{
  border-radius: 30px;
  background-color: #ff5361;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  outline: none;
}

.header__search-bar form button image{
  width: 15px;
  margin-top: 7px;

}

.header__search-bar form input {
  display: block;
  border: 0;
  outline: none;
  background: transparent;
}

.header__search-bar form label {
  font-weight: 600;
}

/*------------ exclusive ------------*/
.main {

}

.main .container{
  margin: 50px 5% 20px;
  font-size: 1vw;
  font-weight: 400;
  color: #333;
}

.sub-title {
  margin-top: 50px;
}

.exclusives {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.exclusives img {
  width: 100%;
  border-radius: 10px;
}

.exclusives div {
  position: relative;
  cursor: pointer;
}

.exclusives div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center  ;
}

/*------------ Trending ------------*/

.trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 30px;
  margin-bottom: 30px;
}

.trending div {
  cursor: pointer;
}

.trending div img {
  width: 100%;
  border-radius: 10px;
}

.trending h3 {
  font-weight: 600;
  margin-top: 10px;
}

/*------------ CTA ------------*/

.cta {
  margin: 80px 0;
  background-image: linear-gradient(to right, #3f2321,transparent), url('images/banner-2.png');
  background-size: cover;
  border-radius: 5px;
  color: #fff;
  background-position: center;
  padding: 5%;
}

.cta h3 {
  font-weight: 500;
  font-size: 4vw;
  line-height: 5.3vw;
}

.cta p {
  font-size: 18px;
  margin: 5px 0;
}

.cta a {
  text-decoration: none;
  background: #ff5361;
  color: #fff;
  padding: 12px 30px;
  margin-top: 20px;
  border-radius: 10px;
  display: inline-block;
}

/*------------ Stories ------------*/

.stories {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
}

.stories .story {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.stories .story img {
  width: 100%;
  border-radius: 10px;
}

.stories .story p {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  font-size: large;
  font-weight: 500;
}

.container .start-btn {
  text-align: center;
  display: block;
  margin: 60px auto;
  width: 50%;
  max-width: 350px;
  text-decoration: none;
  color: #fff;
  background: #ff5361;
  border-radius: 30px;
  padding: 20px;
  font-size: large;
}

/*------------ Footer ------------*/

/*------------ nav-bar activate ------------*/

.nav__link--active {
  position: relative;
  /* transition: transform 1s; */
}

.nav__link--active::after{
  content: "";
  background: #fff;
  width: 25px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  border-radius: 2px;
}


/*------------ small screen ------------*/
@media only screen and (max-width: 720px) { 
  .header__logo {
    
  }
}